<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎访问用户管理系统</title>
    <link rel="stylesheet" href="test.css" type="text/css" />
</head>
<body>
   <p align="center">欢迎访问用户管理系统</p>
    <table align="center" border="0">
        <tr>
            <td><a align="center" href="/user/queryAllUser" target="_blank">显示所有用户</a></td>
        </tr>
        <tr>
            <td>
                <form action="/user/queryUserId" method="post">
                    编号：<input type="Integer" name="id" /></br>
                    <input type="submit" value="编号查询" />
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form action="/user/queryUserName" method="post">
                    姓名：<input type="text" name="name" /></br>
                    <input type="submit" value="姓名查询" />
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form action="/user/deluserid" method="post">
                    编号：<input type="Integer" name="id" /></br>
                    <input type="submit" value="按id删除" />
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form action="/user/delusername" method="post">
                    姓名 ：<input type="text" name="name" /></br>
                    <input type="submit" value="按姓名删除" />
                </form>
            </td>
        </tr>
    </table>
   <div align="center">
       <form action="/user/userLogin" method="post">
           <div style="height: 428px; width: 400px; margin: 8px;background: #fff;">
               <div style="height: 40px;width: 400px;margin:0 auto;text-align:center;background: #3eb6e8;">
                   请输入用户名与密码登录<br>
               </div>
               用户名：<input type="text" name="name" /><br>
               密&nbsp;&nbsp;&nbsp;码：<input type="password" name="pwd" /><br>
               <input type="submit" value="登录" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <a href="/user/registerpage" target="_blank"><input type="button" value="注册"/> </a>
               <!--<img src="/images/testbackground.jpg">-->
           </div>
       </form>
   </div>
</body>
</html>